In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, cohen_kappa_score
from tabulate import tabulate

In [2]:
df = pd.read_csv("rice data.csv")

In [3]:
df.head()

,AREA,PERIMETER,MAJOR_AXIS,MINOR_AXIS,ECCENTRICITY,EQDIASQ,SOLIDITY,CONVEX_AREA,EXTENT,ASPECT_RATIO,...,ALLdaub4L,ALLdaub4a,ALLdaub4b,ALLdaub4Y,ALLdaub4Cb,ALLdaub4Cr,ALLdaub4XX,ALLdaub4YY,ALLdaub4ZZ,CLASS
0,7805,437.915,209.8215,48.0221,0.9735,99.6877,0.9775,7985,0.3547,4.3693,...,113.9924,65.0610,59.5989,104.8552,67.8779,63.0828,0.3673,0.3793,0.4733,Basmati
1,7503,340.757,138.3361,69.8417,0.8632,97.7400,0.9660,7767,0.6637,1.9807,...,105.7055,64.3685,62.2084,96.8375,65.5371,63.5832,0.3014,0.3144,0.3641,Arborio
2,5124,314.617,141.9803,46.5784,0.9447,80.7718,0.9721,5271,0.4760,3.0482,...,109.7155,62.6423,58.7439,100.2352,68.9753,59.8342,0.3233,0.3445,0.4448,Jasmine
3,7990,437.085,201.4386,51.2245,0.9671,100.8622,0.9659,8272,0.6274,3.9325,...,116.5405,64.9069,60.2562,107.2560,67.3298,63.2237,0.3880,0.4020,0.4904,Basmati
4,7433,342.893,140.3350,68.3927,0.8732,97.2830,0.9831,7561,0.6006,2.0519,...,107.7502,64.7071,61.3549,98.8704,66.2048,63.5378,0.3184,0.3303,0.3928,Arborio

In [4]:
df1 = df.iloc[:,16:106]
df1["CLASS"] = df["CLASS"]
df = df1

In [5]:
df.shape

(75000, 91)

In [6]:
df["CLASS"].value_counts()

CLASS
Basmati      15000
Arborio      15000
Jasmine      15000
Ipsala       15000
Karacadag    15000
Name: count, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75000 entries, 0 to 74999
Data columns (total 91 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   meanRR      75000 non-null  float64
 1   meanRG      75000 non-null  float64
 2   meanRB      75000 non-null  float64
 3   StdDevRR    75000 non-null  float64
 4   StdDevRG    75000 non-null  float64
 5   StdDevRB    75000 non-null  float64
 6   skewRR      75000 non-null  float64
 7   skewRG      75000 non-null  float64
 8   skewRB      75000 non-null  float64
 9   kurtosisRR  75000 non-null  float64
 10  kurtosisRG  75000 non-null  float64
 11  kurtosisRB  75000 non-null  float64
 12  entropyRR   75000 non-null  int64
 13  entropyRG   75000 non-null  int64
 14  entropyRB   75000 non-null  int64
 15  meanH       75000 non-null  float64
 16  meanS       75000 non-null  float64
 17  meanV       75000 non-null  float64
 18  StdDevH     75000 non-null  float64
 19  StdDevS     75000 non-null  float64
 20  StdDevV     75000 non-null  float64
 21  skewH       75000 non-null  float64
 22  skewS       75000 non-null  float64
 23  skewV       75000 non-null  float64
 24  kurtosisH   75000 non-null  float64
 25  kurtosisS   75000 non-null  float64
 26  kurtosisV   75000 non-null  float64
 27  entropyH    75000 non-null  float64
 28  entropyS    75000 non-null  float64
 29  entropyV    75000 non-null  float64
 30  meanL       75000 non-null  float64
 31  meanA       75000 non-null  float64
 32  meanB       75000 non-null  float64
 33  StdDevL     75000 non-null  float64
 34  StdDevA     75000 non-null  float64
 35  StdDevB     75000 non-null  float64
 36  skewL       75000 non-null  float64
 37  skewA       75000 non-null  float64
 38  skewB       74994 non-null  float64
 39  kurtosisL   75000 non-null  float64
 40  kurtosisA   75000 non-null  float64
 41  kurtosisB   74994 non-null  float64
 42  entropyL    75000 non-null  int64
 43  entropyA    75000 non-null  int64
 44  entropyB    75000 non-null  int64
 45  meanY       75000 non-null  float64
 46  meanCb      75000 non-null  float64
 47  meanCr      75000 non-null  float64
 48  StdDevY     75000 non-null  float64
 49  StdDevCb    75000 non-null  float64
 50  StdDevCr    75000 non-null  float64
 51  skewY       75000 non-null  float64
 52  skewCb      74997 non-null  float64
 53  skewCr      74998 non-null  float64
 54  kurtosisY   75000 non-null  float64
 55  kurtosisCb  74997 non-null  float64
 56  kurtosisCr  74998 non-null  float64
 57  entropyY    75000 non-null  int64
 58  entropyCb   75000 non-null  int64
 59  entropyCr   75000 non-null  int64
 60  meanXX      75000 non-null  float64
 61  meanYY      75000 non-null  float64
 62  meanZZ      75000 non-null  float64
 63  StdDevXX    75000 non-null  float64
 64  StdDevYY    75000 non-null  float64
 65  StdDevZZ    75000 non-null  float64
 66  skewXX      75000 non-null  float64
 67  skewYY      75000 non-null  float64
 68  skewZZ      75000 non-null  float64
 69  kurtosisXX  75000 non-null  float64
 70  kurtosisYY  75000 non-null  float64
 71  kurtosisZZ  75000 non-null  float64
 72  entropyXX   75000 non-null  float64
 73  entropyYY   75000 non-null  float64
 74  entropyZZ   75000 non-null  float64
 75  ALLdaub4RR  75000 non-null  float64
 76  ALLdaub4RG  75000 non-null  float64
 77  ALLdaub4RB  75000 non-null  float64
 78  ALLdaub4H   75000 non-null  float64
 79  ALLdaub4S   75000 non-null  float64
 80  ALLdaub4V   75000 non-null  float64
 81  ALLdaub4L   75000 non-null  float64
 82  ALLdaub4a   75000 non-null  float64
 83  ALLdaub4b   75000 non-null  float64
 84  ALLdaub4Y   75000 non-null  float64
 85  ALLdaub4Cb  75000 non-null  float64
 86  ALLdaub4Cr  75000 non-null  float64
 87  ALLdaub4XX  75000 non-null  float64
 88  ALLdaub4YY  75000 non-null  float64
 89  ALLdaub4ZZ  75000 non-null  float64
 90  CLASS       75000 non-null  object
dtypes: float64(81), int64(9), object(1)
memory usage: 52.1+ MB

In [8]:
df.describe()

,meanRR,meanRG,meanRB,StdDevRR,StdDevRG,StdDevRB,skewRR,skewRG,skewRB,kurtosisRR,...,ALLdaub4V,ALLdaub4L,ALLdaub4a,ALLdaub4b,ALLdaub4Y,ALLdaub4Cb,ALLdaub4Cr,ALLdaub4XX,ALLdaub4YY,ALLdaub4ZZ
count,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,...,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000
mean,216.398005,218.205782,227.918353,15.342766,15.449838,15.477779,-1.778549,-1.938456,-2.360081,11.955533,...,0.448960,111.088252,64.379443,61.461457,101.925425,66.240541,63.202088,0.341944,0.357058,0.421176
std,13.308330,13.646445,10.682523,3.454178,3.562578,3.468618,0.948735,1.111904,0.950987,7.479528,...,0.021736,5.904854,1.175616,2.435635,5.436861,2.159109,1.174976,0.041921,0.047139,0.043137
min,153.800000,157.249900,160.158400,6.817100,6.411700,6.417500,-6.938800,-7.911800,-6.938200,1.841300,...,0.313900,82.300600,59.137900,53.653800,75.191800,58.323800,57.363400,0.159700,0.169000,0.191800
25%,206.605125,207.848625,220.927750,12.579400,12.741500,13.050675,-2.360500,-2.522300,-3.002300,6.481900,...,0.434200,106.632900,63.883800,59.465575,97.834400,64.842000,63.052800,0.309900,0.320900,0.391200
50%,215.118800,217.137550,228.801250,15.542900,15.686150,15.539300,-1.608600,-1.683350,-2.321100,9.727700,...,0.451600,110.770700,64.419350,61.424400,101.683700,66.291600,63.522050,0.340100,0.353300,0.424200
75%,225.016125,227.339300,236.171600,17.881000,18.032225,17.891800,-1.095000,-1.136700,-1.609700,15.068550,...,0.466100,115.065075,65.174200,63.076825,105.592450,68.011800,63.734000,0.370300,0.387900,0.454700
max,252.183700,252.323100,252.108500,29.967400,30.765400,30.858000,0.917900,0.771900,1.162400,75.201600,...,0.495100,126.265100,67.459000,70.284000,116.287300,73.424700,66.539100,0.463900,0.488600,0.530200

In [9]:
df = df.fillna(0)

In [10]:
print(sum(df.isnull().sum()))

0

In [11]:
df

,meanRR,meanRG,meanRB,StdDevRR,StdDevRG,StdDevRB,skewRR,skewRG,skewRB,kurtosisRR,...,ALLdaub4L,ALLdaub4a,ALLdaub4b,ALLdaub4Y,ALLdaub4Cb,ALLdaub4Cr,ALLdaub4XX,ALLdaub4YY,ALLdaub4ZZ,CLASS
0,222.9805,223.9872,241.4758,16.2950,16.4354,13.6272,-0.7986,-0.8407,-3.7377,7.1706,...,113.9924,65.0610,59.5989,104.8552,67.8779,63.0828,0.3673,0.3793,0.4733,Basmati
1,206.0380,206.2412,213.3809,18.3863,18.5343,18.9969,-0.7536,-0.7372,-0.8217,4.4926,...,105.7055,64.3685,62.2084,96.8375,65.5371,63.5832,0.3014,0.3144,0.3641,Arborio
2,201.8228,217.6475,235.0057,13.7392,15.3239,16.0249,-2.2606,-2.6764,-2.8690,12.4329,...,109.7155,62.6423,58.7439,100.2352,68.9753,59.8342,0.3233,0.3445,0.4448,Jasmine
3,228.8978,229.7151,244.6294,18.3915,18.9141,16.7398,-1.5281,-1.4967,-3.5705,8.1541,...,116.5405,64.9069,60.2562,107.2560,67.3298,63.2237,0.3880,0.4020,0.4904,Basmati
4,210.4471,210.2988,220.8827,19.6370,19.6635,20.0206,-1.0165,-1.0176,-1.1514,4.6467,...,107.7502,64.7071,61.3549,98.8704,66.2048,63.5378,0.3184,0.3303,0.3928,Arborio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74995,204.4210,201.7319,208.9247,13.8755,13.8819,14.0564,-0.4432,-0.3778,-0.4530,6.9004,...,103.9529,64.9225,62.4355,95.2780,65.5114,64.4457,0.2895,0.2997,0.3455,Arborio
74996,213.9765,212.5912,229.1017,23.9463,24.2106,25.4296,-0.8286,-0.7967,-1.1883,3.8488,...,108.9778,65.4571,59.9502,100.2301,67.5089,63.6028,0.3335,0.3426,0.4257,Karacadag
74997,204.7994,207.2316,216.9780,16.1357,16.4876,16.4977,-1.2066,-1.2433,-1.3866,5.9842,...,106.0881,64.1869,61.3876,97.1585,66.2445,63.0596,0.3028,0.3164,0.3761,Arborio
74998,234.8254,236.9970,233.0475,9.9312,9.3609,9.0690,-2.4975,-3.4904,-3.2237,21.9007,...,119.2037,63.3545,64.8200,109.3027,63.3122,63.5967,0.3970,0.4215,0.4469,Ipsala
74999,240.6182,241.7075,236.3982,8.6521,8.6222,8.5961,-4.9902,-5.3339,-4.2648,47.2017,...,121.4198,63.5424,65.2355,111.4580,63.0129,63.9117,0.4162,0.4414,0.4626,Ipsala

In [12]:
df = np.array(df)
df = pd.DataFrame(df)
X = df.drop(columns = [90])
y = df[90]

sc = StandardScaler()
X = sc.fit_transform(X)
X = pd.DataFrame(X)

In [13]:
kf = KFold(n_splits=10, shuffle=False)

models = {
    "MLP": MLPClassifier(hidden_layer_sizes=(64, 32, 16, 8), activation='logistic', max_iter=10000, random_state=42),
    "Random Forest": RandomForestClassifier(n_estimators=100, random_state=42),
    "SVM": SVC(kernel='linear', random_state=42),
    "KNN": KNeighborsClassifier(n_neighbors=10),
    "Logistic Regression": LogisticRegression(max_iter=1000, random_state=42),
    "Decision Tree": DecisionTreeClassifier(random_state=42)
}

model_metrics = {name: {"Accuracy": [], "Error": [], "Precision": [], "Recall": [], "F1-Score": [], "Kappa": []} for name in models.keys()}

for fold, (train_idx, test_idx) in enumerate(kf.split(df)):
    print(f"Fold {fold + 1} :")
    
    X_train, X_test = X.iloc[train_idx, :], X.iloc[test_idx, :]
    y_train, y_test = y.iloc[train_idx], y.iloc[test_idx]

    for name, model in models.items():
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)

        acc = accuracy_score(y_test, y_pred)
        error = 1 - acc  # Error rate
        prec = precision_score(y_test, y_pred, average="weighted", zero_division=0)
        rec = recall_score(y_test, y_pred, average="weighted")
        f1 = f1_score(y_test, y_pred, average="weighted")
        kappa = cohen_kappa_score(y_test, y_pred)

        model_metrics[name]["Accuracy"].append(acc)
        model_metrics[name]["Error"].append(error)
        model_metrics[name]["Precision"].append(prec)
        model_metrics[name]["Recall"].append(rec)
        model_metrics[name]["F1-Score"].append(f1)
        model_metrics[name]["Kappa"].append(kappa)

        print(f"{name}: Acc={acc:.4f}, Err={error:.4f}, Prec={prec:.4f}, Rec={rec:.4f}, F1={f1:.4f}, Kappa={kappa:.4f}")

    print("-" * 50)

table_data = [
    [name, 
     f"{np.mean(metrics['Accuracy']):.4f}", 
     f"{np.mean(metrics['Error']):.4f}", 
     f"{np.mean(metrics['Precision']):.4f}", 
     f"{np.mean(metrics['Recall']):.4f}", 
     f"{np.mean(metrics['F1-Score']):.4f}", 
     f"{np.mean(metrics['Kappa']):.4f}"]
    for name, metrics in model_metrics.items()
]

print(tabulate(table_data, headers=["Model", "Avg Acc", "Avg Error", "Avg Prec", "Avg Recall", "Avg F1", "Avg Kappa"], tablefmt="grid"))

Fold 1 :
MLP: Acc=0.9920, Err=0.0080, Prec=0.9920, Rec=0.9920, F1=0.9920, Kappa=0.9900
Random Forest: Acc=0.9873, Err=0.0127, Prec=0.9873, Rec=0.9873, F1=0.9873, Kappa=0.9842
SVM: Acc=0.9919, Err=0.0081, Prec=0.9919, Rec=0.9919, F1=0.9919, Kappa=0.9898
KNN: Acc=0.9844, Err=0.0156, Prec=0.9844, Rec=0.9844, F1=0.9844, Kappa=0.9805
Logistic Regression: Acc=0.9909, Err=0.0091, Prec=0.9909, Rec=0.9909, F1=0.9909, Kappa=0.9887
Decision Tree: Acc=0.9740, Err=0.0260, Prec=0.9740, Rec=0.9740, F1=0.9740, Kappa=0.9675
--------------------------------------------------
Fold 2 :
MLP: Acc=0.9939, Err=0.0061, Prec=0.9939, Rec=0.9939, F1=0.9939, Kappa=0.9923
Random Forest: Acc=0.9904, Err=0.0096, Prec=0.9904, Rec=0.9904, F1=0.9904, Kappa=0.9880
SVM: Acc=0.9924, Err=0.0076, Prec=0.9924, Rec=0.9924, F1=0.9924, Kappa=0.9905
KNN: Acc=0.9857, Err=0.0143, Prec=0.9858, Rec=0.9857, F1=0.9857, Kappa=0.9822
Logistic Regression: Acc=0.9905, Err=0.0095, Prec=0.9905, Rec=0.9905, F1=0.9905, Kappa=0.9882
Decision Tree: Acc=0.9780, Err=0.0220, Prec=0.9780, Rec=0.9780, F1=0.9780, Kappa=0.9725
--------------------------------------------------
Fold 3 :
MLP: Acc=0.9916, Err=0.0084, Prec=0.9916, Rec=0.9916, F1=0.9916, Kappa=0.9895
Random Forest: Acc=0.9860, Err=0.0140, Prec=0.9860, Rec=0.9860, F1=0.9860, Kappa=0.9825
SVM: Acc=0.9920, Err=0.0080, Prec=0.9920, Rec=0.9920, F1=0.9920, Kappa=0.9900
KNN: Acc=0.9825, Err=0.0175, Prec=0.9825, Rec=0.9825, F1=0.9825, Kappa=0.9782
Logistic Regression: Acc=0.9888, Err=0.0112, Prec=0.9888, Rec=0.9888, F1=0.9888, Kappa=0.9860
Decision Tree: Acc=0.9711, Err=0.0289, Prec=0.9711, Rec=0.9711, F1=0.9711, Kappa=0.9638
--------------------------------------------------
Fold 4 :
MLP: Acc=0.9895, Err=0.0105, Prec=0.9895, Rec=0.9895, F1=0.9895, Kappa=0.9868
Random Forest: Acc=0.9853, Err=0.0147, Prec=0.9854, Rec=0.9853, F1=0.9853, Kappa=0.9817
SVM: Acc=0.9907, Err=0.0093, Prec=0.9907, Rec=0.9907, F1=0.9907, Kappa=0.9883
KNN: Acc=0.9824, Err=0.0176, Prec=0.9824, Rec=0.9824, F1=0.9824, Kappa=0.9780
Logistic Regression: Acc=0.9891, Err=0.0109, Prec=0.9891, Rec=0.9891, F1=0.9891, Kappa=0.9863
Decision Tree: Acc=0.9740, Err=0.0260, Prec=0.9740, Rec=0.9740, F1=0.9740, Kappa=0.9675
--------------------------------------------------
Fold 5 :
MLP: Acc=0.9913, Err=0.0087, Prec=0.9913, Rec=0.9913, F1=0.9913, Kappa=0.9892
Random Forest: Acc=0.9883, Err=0.0117, Prec=0.9883, Rec=0.9883, F1=0.9883, Kappa=0.9853
SVM: Acc=0.9921, Err=0.0079, Prec=0.9921, Rec=0.9921, F1=0.9921, Kappa=0.9902
KNN: Acc=0.9848, Err=0.0152, Prec=0.9848, Rec=0.9848, F1=0.9848, Kappa=0.9810
Logistic Regression: Acc=0.9892, Err=0.0108, Prec=0.9892, Rec=0.9892, F1=0.9892, Kappa=0.9865
Decision Tree: Acc=0.9717, Err=0.0283, Prec=0.9717, Rec=0.9717, F1=0.9717, Kappa=0.9647
--------------------------------------------------
Fold 6 :
MLP: Acc=0.9919, Err=0.0081, Prec=0.9919, Rec=0.9919, F1=0.9919, Kappa=0.9898
Random Forest: Acc=0.9852, Err=0.0148, Prec=0.9852, Rec=0.9852, F1=0.9852, Kappa=0.9815
SVM: Acc=0.9913, Err=0.0087, Prec=0.9913, Rec=0.9913, F1=0.9913, Kappa=0.9892
KNN: Acc=0.9832, Err=0.0168, Prec=0.9832, Rec=0.9832, F1=0.9832, Kappa=0.9790
Logistic Regression: Acc=0.9889, Err=0.0111, Prec=0.9889, Rec=0.9889, F1=0.9889, Kappa=0.9862
Decision Tree: Acc=0.9712, Err=0.0288, Prec=0.9712, Rec=0.9712, F1=0.9712, Kappa=0.9640
--------------------------------------------------
Fold 7 :
MLP: Acc=0.9909, Err=0.0091, Prec=0.9909, Rec=0.9909, F1=0.9909, Kappa=0.9887
Random Forest: Acc=0.9845, Err=0.0155, Prec=0.9846, Rec=0.9845, F1=0.9845, Kappa=0.9807
SVM: Acc=0.9907, Err=0.0093, Prec=0.9907, Rec=0.9907, F1=0.9907, Kappa=0.9883
KNN: Acc=0.9820, Err=0.0180, Prec=0.9820, Rec=0.9820, F1=0.9820, Kappa=0.9775
Logistic Regression: Acc=0.9885, Err=0.0115, Prec=0.9885, Rec=0.9885, F1=0.9885, Kappa=0.9857
Decision Tree: Acc=0.9725, Err=0.0275, Prec=0.9726, Rec=0.9725, F1=0.9725, Kappa=0.9657
--------------------------------------------------
Fold 8 :
MLP: Acc=0.9943, Err=0.0057, Prec=0.9943, Rec=0.9943, F1=0.9943, Kappa=0.9928
Random Forest: Acc=0.9856, Err=0.0144, Prec=0.9856, Rec=0.9856, F1=0.9856, Kappa=0.9820
SVM: Acc=0.9909, Err=0.0091, Prec=0.9909, Rec=0.9909, F1=0.9909, Kappa=0.9887
KNN: Acc=0.9844, Err=0.0156, Prec=0.9844, Rec=0.9844, F1=0.9844, Kappa=0.9805
Logistic Regression: Acc=0.9883, Err=0.0117, Prec=0.9883, Rec=0.9883, F1=0.9883, Kappa=0.9853
Decision Tree: Acc=0.9727, Err=0.0273, Prec=0.9727, Rec=0.9727, F1=0.9727, Kappa=0.9658
--------------------------------------------------
Fold 9 :
MLP: Acc=0.9935, Err=0.0065, Prec=0.9935, Rec=0.9935, F1=0.9935, Kappa=0.9918
Random Forest: Acc=0.9875, Err=0.0125, Prec=0.9875, Rec=0.9875, F1=0.9875, Kappa=0.9843
SVM: Acc=0.9904, Err=0.0096, Prec=0.9904, Rec=0.9904, F1=0.9904, Kappa=0.9880
KNN: Acc=0.9827, Err=0.0173, Prec=0.9827, Rec=0.9827, F1=0.9827, Kappa=0.9783
Logistic Regression: Acc=0.9889, Err=0.0111, Prec=0.9889, Rec=0.9889, F1=0.9889, Kappa=0.9862
Decision Tree: Acc=0.9751, Err=0.0249, Prec=0.9751, Rec=0.9751, F1=0.9751, Kappa=0.9688
--------------------------------------------------
Fold 10 :
MLP: Acc=0.9916, Err=0.0084, Prec=0.9917, Rec=0.9916, F1=0.9916, Kappa=0.9895
Random Forest: Acc=0.9833, Err=0.0167, Prec=0.9834, Rec=0.9833, F1=0.9833, Kappa=0.9792
SVM: Acc=0.9897, Err=0.0103, Prec=0.9898, Rec=0.9897, F1=0.9897, Kappa=0.9872
KNN: Acc=0.9812, Err=0.0188, Prec=0.9812, Rec=0.9812, F1=0.9812, Kappa=0.9765
Logistic Regression: Acc=0.9875, Err=0.0125, Prec=0.9875, Rec=0.9875, F1=0.9875, Kappa=0.9843
Decision Tree: Acc=0.9715, Err=0.0285, Prec=0.9716, Rec=0.9715, F1=0.9715, Kappa=0.9643
--------------------------------------------------
+---------------------+-----------+-------------+------------+--------------+----------+-------------+
| Model               |   Avg Acc |   Avg Error |   Avg Prec |   Avg Recall |   Avg F1 |   Avg Kappa |
+=====================+===========+=============+============+==============+==========+=============+
| MLP                 |    0.992  |      0.008  |     0.9921 |       0.992  |   0.992  |      0.99   |
+---------------------+-----------+-------------+------------+--------------+----------+-------------+
| Random Forest       |    0.9863 |      0.0137 |     0.9864 |       0.9863 |   0.9863 |      0.9829 |
+---------------------+-----------+-------------+------------+--------------+----------+-------------+
| SVM                 |    0.9912 |      0.0088 |     0.9912 |       0.9912 |   0.9912 |      0.989  |
+---------------------+-----------+-------------+------------+--------------+----------+-------------+
| KNN                 |    0.9833 |      0.0167 |     0.9834 |       0.9833 |   0.9833 |      0.9792 |
+---------------------+-----------+-------------+------------+--------------+----------+-------------+
| Logistic Regression |    0.9891 |      0.0109 |     0.9891 |       0.9891 |   0.9891 |      0.9863 |
+---------------------+-----------+-------------+------------+--------------+----------+-------------+
| Decision Tree       |    0.9732 |      0.0268 |     0.9732 |       0.9732 |   0.9732 |      0.9665 |
+---------------------+-----------+-------------+------------+--------------+----------+-------------+

In [19]:
from sklearn.metrics import confusion_matrix

labels = np.unique(y)
conf_matrix_sum = {name: np.zeros((len(labels), len(labels))) for name in models.keys()}

for fold, (train_idx, test_idx) in enumerate(kf.split(df)):
    print(f"Fold {fold + 1} :")
    X_train, X_test = X.iloc[train_idx, :], X.iloc[test_idx, :]
    y_train, y_test = y.iloc[train_idx], y.iloc[test_idx]

    for name, model in models.items():
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        cm = confusion_matrix(y_test, y_pred, labels=labels)
        conf_matrix_sum[name] += cm
        print(f"{name}")

    print(f"Fold {fold + 1} Completed")
    print("-" * 50)

conf_matrix_total = {name: cm.astype(int) for name, cm in conf_matrix_sum.items()}

conf_matrix_data = []
for i, actual in enumerate(labels):
    for name, cm in conf_matrix_total.items():
        row = [actual, name]
        row.extend(cm[i])
        conf_matrix_data.append(row)

columns = ["Actual Class", "Algorithm"] + list(labels)
df_conf_matrix = pd.DataFrame(conf_matrix_data, columns=columns)

print(df_conf_matrix)

Fold 1 :
MLP
Random Forest
SVM
KNN
Logistic Regression
Decision Tree
Fold 1 Completed
--------------------------------------------------
Fold 2 :
MLP
Random Forest
SVM
KNN
Logistic Regression
Decision Tree
Fold 2 Completed
--------------------------------------------------
Fold 3 :
MLP
Random Forest
SVM
KNN
Logistic Regression
Decision Tree
Fold 3 Completed
--------------------------------------------------
Fold 4 :
MLP
Random Forest
SVM
KNN
Logistic Regression
Decision Tree
Fold 4 Completed
--------------------------------------------------
Fold 5 :
MLP
Random Forest
SVM
KNN
Logistic Regression
Decision Tree
Fold 5 Completed
--------------------------------------------------
Fold 6 :
MLP
Random Forest
SVM
KNN
Logistic Regression
Decision Tree
Fold 6 Completed
--------------------------------------------------
Fold 7 :
MLP
Random Forest
SVM
KNN
Logistic Regression
Decision Tree
Fold 7 Completed
--------------------------------------------------
Fold 8 :
MLP
Random Forest
SVM
KNN
Logistic Regression
Decision Tree
Fold 8 Completed
--------------------------------------------------
Fold 9 :
MLP
Random Forest
SVM
KNN
Logistic Regression
Decision Tree
Fold 9 Completed
--------------------------------------------------
Fold 10 :
MLP
Random Forest
SVM
KNN
Logistic Regression
Decision Tree
Fold 10 Completed
--------------------------------------------------
   Actual Class            Algorithm  Arborio  Basmati  Ipsala  Jasmine  \
0       Arborio                  MLP    14829        9       0      143
1       Arborio        Random Forest    14780        5       0      198
2       Arborio                  SVM    14811       10       0      172
3       Arborio                  KNN    14750        3       1      237
4       Arborio  Logistic Regression    14791       16       0      178
5       Arborio        Decision Tree    14613       47       6      265
6       Basmati                  MLP       13    14898       1       12
7       Basmati        Random Forest       38    14647       1       15
8       Basmati                  SVM       21    14844       0       22
9       Basmati                  KNN       61    14665       1       37
10      Basmati  Logistic Regression       22    14778       2       65
11      Basmati        Decision Tree       46    14389       5       46
12       Ipsala                  MLP        5        2   14993        0
13       Ipsala        Random Forest        0        0   15000        0
14       Ipsala                  SVM        0        0   15000        0
15       Ipsala                  KNN        1        0   14999        0
16       Ipsala  Logistic Regression        0        0   15000        0
17       Ipsala        Decision Tree        4        5   14987        3
18      Jasmine                  MLP      145       10       0    14823
19      Jasmine        Random Forest      115       14       0    14848
20      Jasmine                  SVM      104       18       0    14862
21      Jasmine                  KNN      175       17       0    14781
22      Jasmine  Logistic Regression      113       42       0    14813
23      Jasmine        Decision Tree      259       51       2    14626
24    Karacadag                  MLP       19      108       0       13
25    Karacadag        Random Forest       50      218       0       31
26    Karacadag                  SVM       23      129       0       24
27    Karacadag                  KNN       68      292       0       85
28    Karacadag  Logistic Regression       28      145       0       29
29    Karacadag        Decision Tree       64      483       1       79

    Karacadag
0          19
1          17
2           7
3           9
4          15
5          69
6          76
7         299
8         113
9         236
10        133
11        514
12          0
13          0
14          0
15          0
16          0
17          1
18         22
19         23
20         16
21         27
22         32
23         62
24      14860
25      14701
26      14824
27      14555
28      14798
29      14373

In [20]:
print(tabulate(df_conf_matrix, headers='keys', tablefmt='grid'))

+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
|    | Actual Class   | Algorithm           |   Arborio |   Basmati |   Ipsala |   Jasmine |   Karacadag |
+====+================+=====================+===========+===========+==========+===========+=============+
|  0 | Arborio        | MLP                 |     14829 |         9 |        0 |       143 |          19 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
|  1 | Arborio        | Random Forest       |     14780 |         5 |        0 |       198 |          17 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
|  2 | Arborio        | SVM                 |     14811 |        10 |        0 |       172 |           7 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
|  3 | Arborio        | KNN                 |     14750 |         3 |        1 |       237 |           9 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
|  4 | Arborio        | Logistic Regression |     14791 |        16 |        0 |       178 |          15 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
|  5 | Arborio        | Decision Tree       |     14613 |        47 |        6 |       265 |          69 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
|  6 | Basmati        | MLP                 |        13 |     14898 |        1 |        12 |          76 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
|  7 | Basmati        | Random Forest       |        38 |     14647 |        1 |        15 |         299 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
|  8 | Basmati        | SVM                 |        21 |     14844 |        0 |        22 |         113 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
|  9 | Basmati        | KNN                 |        61 |     14665 |        1 |        37 |         236 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 10 | Basmati        | Logistic Regression |        22 |     14778 |        2 |        65 |         133 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 11 | Basmati        | Decision Tree       |        46 |     14389 |        5 |        46 |         514 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 12 | Ipsala         | MLP                 |         5 |         2 |    14993 |         0 |           0 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 13 | Ipsala         | Random Forest       |         0 |         0 |    15000 |         0 |           0 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 14 | Ipsala         | SVM                 |         0 |         0 |    15000 |         0 |           0 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 15 | Ipsala         | KNN                 |         1 |         0 |    14999 |         0 |           0 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 16 | Ipsala         | Logistic Regression |         0 |         0 |    15000 |         0 |           0 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 17 | Ipsala         | Decision Tree       |         4 |         5 |    14987 |         3 |           1 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 18 | Jasmine        | MLP                 |       145 |        10 |        0 |     14823 |          22 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 19 | Jasmine        | Random Forest       |       115 |        14 |        0 |     14848 |          23 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 20 | Jasmine        | SVM                 |       104 |        18 |        0 |     14862 |          16 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 21 | Jasmine        | KNN                 |       175 |        17 |        0 |     14781 |          27 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 22 | Jasmine        | Logistic Regression |       113 |        42 |        0 |     14813 |          32 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 23 | Jasmine        | Decision Tree       |       259 |        51 |        2 |     14626 |          62 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 24 | Karacadag      | MLP                 |        19 |       108 |        0 |        13 |       14860 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 25 | Karacadag      | Random Forest       |        50 |       218 |        0 |        31 |       14701 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 26 | Karacadag      | SVM                 |        23 |       129 |        0 |        24 |       14824 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 27 | Karacadag      | KNN                 |        68 |       292 |        0 |        85 |       14555 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 28 | Karacadag      | Logistic Regression |        28 |       145 |        0 |        29 |       14798 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+
| 29 | Karacadag      | Decision Tree       |        64 |       483 |        1 |        79 |       14373 |
+----+----------------+---------------------+-----------+-----------+----------+-----------+-------------+